body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background-color: #8C775A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.todo-box {
  background-color: #A6B49D;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-box h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

.todo-input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.todo-input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 14px;
}

.todo-input-area button {
  background-color: #4F4A2F;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: 275px;
  overflow-y: auto;
  padding-right: 5px;
  scroll-behavior: smooth;
}

.todo-list::-webkit-scrollbar {
  width: 6px;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.todo-item {
  background-color: #E6EDCC;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.todo-item.hover {
  background-color: #d6e2b5;
}

.todo-delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.todo-item input[type='checkbox'] {
  margin-right: 10px;
  transform: scale(1.2);
}

.todo-done {
  text-decoration: line-through;
  opacity: 0.7;
}
.trash-icon {
  color: #eb502e;
}
